body {
    background: rgb(97, 95, 95);
}

.row {
    display: flex;
    gap: 50px;
}

.col {
    flex: 0 1 auto;
    height: 50px;
    width: 150px;
    background-color: rgb(116, 116, 236);
    margin-top: 10px;
}

.col-2 {
    flex: 0 1 auto;
    background-color: rgb(116, 116, 236);
    width: 300px;
    margin-top: 10px;
    height: 50px;
}

.col-3 {
    flex: 0 1 auto;
    background-color: rgb(116, 116, 236);
    width: 400px;
    height:50px;
    margin-top: 10px;
}